version: "3.8"

services:
  osjs:
    image: ghcr.io/os-js/osjs:latest
    container_name: osjs
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - osjs_home:/var/www/html/home
    environment:
      - TZ=America/Sao_Paulo

volumes:
  osjs_home:
